@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body, html{
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: rgb(31, 27, 27);
   color: #ddd;
   font-family: 'Open Sans', sans-serif;
}

img{
    width: 300px;
    height: 300px;


}
.descricao{
width: 300px;
text-align: center;


}
h2{
    margin-bottom: 4px;
}

.duracao{
    width: 300px;
    margin-top: 20px;
}

.barra{
    width: 300px;
    height: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;


}
progress{
    height: 6px;
    width:0;
    background-color: #333;
}
.ponto{
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px ;

}
.tempo {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.player{
   width: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 15px;


}

.botao-play, .botao-pause {
   font-size: 50px;
   cursor: pointer;

}
.setas{
    font-size: 40px;
    cursor: pointer;
}
.botao-pause{
    display: none;
}

.container{
    background-color:rgb(48, 46, 46);
    padding: 10px;
    border-radius: 5px;
    border: solid 2px grey;

}


@media screen and (max-width: 400px){

    body, html{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color:rgb(48, 46, 46);
        color: #ddd;
        font-family: 'Open Sans', sans-serif;
     }

     .container{
        background-color:rgb(48, 46, 46);
        padding:0px;
        border-radius:0px;
        border: none;
    
    }

}